{{- /*
  Galerie du projet.

  La selection et l'ordre viennent du champ `galerie` de l'entete : une liste
  de noms de fichiers du page bundle. Sans ce champ, aucune galerie n'est
  rendue. C'est le seul media des projets photographiques, qui n'ont pas de
  video.

  Images pleine largeur du contenu, empilees. Chargement differe sauf la
  premiere.
*/ -}}
{{- $page := . -}}
{{- $images := slice -}}
{{- range .Params.galerie -}}
  {{- with $page.Resources.GetMatch . }}{{ $images = $images | append . }}{{ end -}}
{{- end -}}

{{- $titre := $page.Title -}}
{{- if not $titre }}{{ with $page.File }}{{ $titre = humanize .ContentBaseName }}{{ end }}{{ end -}}

{{- with $images }}
<div class="galerie">
  {{- range $i, $r := . }}
  <figure>
    {{ partial "image-large.html" (dict
         "ressource" $r
         "alt" (printf "%s, image %d" $titre (add $i 1))
         "immediate" (eq $i 0)) }}
  </figure>
  {{- end }}
</div>
{{- end -}}
